@media screen and (max-width:576px) {
    nav, nav ul,
    .feature-element{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
    .facts-container {
        grid-template-columns: repeat(1,1fr);
    }
    .section-title,
    .fact-description { 
        margin-left: 30px;
    }
    .fact-card{
        margin-top: 20px;
    }
    .sponsor-companies{
        grid-template-columns: 1fr;
        max-width: 500px;
        justify-items: center;
        gap: 50px;
    }

}


@media screen and (min-width:577px) and (max-width:991px) {
    .feature-element{
        flex-direction: column;
    }
    .team-images{
        grid-template-columns: repeat(2, 1fr);
    }
    .feature-content{
        margin-left: 0px;
        margin-top: 20px;
    }
    .facts-container {
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .section-title,
    .fact-description { 
        margin-left: 30px;
    }
}